.App {
  text-align: center;
}

.appbar{
  justify-content: center;
}

.margin-left{
    margin-left: 50px !important;
    font-size: 15px;
}

/* .margin-right{
  margin-left: 10px;
  font-size:15px;
 
} */
.banner{

  margin-top: 60px;
  max-width: 900px;
  float:center;
  text-align: center;
  /* margin-left: 200px; */
  color: rgb(165,42,42);

}
h1{

  font-family: Roboto;
  font-size:60px;
  color: brown;
  
}
h2{
  color: crimson;
  font-size: 35px;
  margin-right: 100px;
  margin-left:100px;
  font-family: "Georgia", Times, serif;
}
.cat{
  font-size:50px;
  margin-top: 60px;
  color:black;
  font-family: "Lucida Console", "Courier New", monospace;
}
.cat0{
  font-size:40px;
  margin-top: 60px;
  color:black;
  font-family: "Lucida Console", "Courier New", monospace;
}
.cat00{
  font-size:27px;
  /* margin-top: 60px; */
  color:grey;
  font-family: "Lucida Console", "Courier New", monospace;
}
.cat1{
  font-size:30px;
  color:black;
  font-family: "Lucida Console", "Courier New", monospace;
}
.cat10{
  font-size:18px;
  color:black;
  font-family: "Lucida Console", "Courier New", monospace;
}

Nav.Link{
color: black;
font-size: 15px;
font-family: "Lucida Console", "Courier New", monospace;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
h4{
  color:black;
  font-weight: bold;


}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.MyNav{
  padding-left: 30% !important;
  text-align: center;
  /* font: 100% bold; */
}
.MyNav0{
  padding-left: 20% !important;
  text-align: center;
  /* font: 100% bold; */
}
.ItemsPad
{
  margin-right: 4%;
  width: 150px;
}
.MyHR{
  height:1000px;
  width:4px;
  color:gray;
  background-color:red;
}
.RegisterButton{
  margin-top: 100px;
  width: 300px;
  padding: 1%;
}
.subs
{
  color: grey;
  font-size:13px;
}
.hovering:hover{
  background-color: rgb(202, 202, 202);
}
.goLeft{
  text-align: left;
  margin-bottom: 50px;
}